#main {
    background-color: white;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#clickRowCode {
    display: none;
}

.clock {
    margin-bottom: 10%;
    margin-right: 10%;
    font-size: 45px;
}

.intro {
    color: red;
}

.number {
    display: none;
}