body {
    background-color: white;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.clockDiv {
    margin-bottom: 10%;
    margin-right:10%;
    font-size: 45px;
}
.clockIntro{
    color: red;
}
.clockTickingText{
    display: none;
}